:root {
    --header-color: #94CFFF;
    --menu-color: #FFFFFF;
    --button-color: #26C6EA;
    --button-main-color: #0B0E66;
    --title-color: #0A3853;
    --paragraph-color: #000000;
    --card-color: #141414;
    --backgraund-color: rgba(43, 74, 97, 0.87);
}
body {
    margin: 0 auto;
    width: 1440px;
}
.header{
    width: 1440px;
    height: 147px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
}
.main-section{
    background-image: url(photo/2.jpg);
    height: 740px;
    margin-top: 3px;
    margin-top: -14px;
}
.header-section{
    background-repeat: no-repeat;
    height: 148px;
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(photo/13.png)
}
.header-logo{
    margin: 41px 1052px 39px 206px ;
}
.list{
    display: flex;
    align-items: center;
    gap: 42px;
    margin-right: 556px;
    margin-left:  560px;

}
.item{
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}
a{
    text-decoration: none;
}