:root {
  --header-color: #94cfff;
  --menu-color: #ffffff;
  --button-color: #26c6ea;
  --button-main-color: #0b0e66;
  --title-color: #0a3853;
  --paragraph-color: #000000;
  --card-color: #141414;
  --backgraund-color: rgba(43, 74, 97, 0.87);
  --main-list: rgba(255, 255, 255, 0.7);
}
body {
  margin: 0 auto;
  width: 1440px;
}
.header {
  width: 1440px;
  height: 147px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.main-section {
  background-image: url(photo/2.jpg);
  height: 740px;
  margin-top: 3px;
  margin-top: -14px;
}
.header-section {
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url(photo/13.png);
  display: flex;
  justify-content: space-between;
  width: 1440px;
}
.header-logo {
  margin-top: 41px;
  margin-left: 204px;
  width: 186px;
  height: 72px;
}
.list {
  display: flex;
  align-items: center;
  gap: 42px;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.header-button {
  background: var(--button-main-color);
  border-color: var(--button-color);
  border-style: solid;
  padding: 12px 35px 12px 35px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-width: 4px;
  margin-top: 35px;
  margin-right: 204px;
}
.text-button {
  font-family: "Headland One", serif;
  color: var(--button-color);
  font-size: 20px;
}
.main-text {
  font-family: "Inter", sans-serif;
  color: var(--menu-color);
}
.avatar-button {
  background: var(--button-main-color);
  border-color: var(--button-color);
  border-style: solid;
  padding: 12px 35px 12px 35px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-width: 4px;
  margin-left: 204px;
  margin-top: 20px;
}
.avatar-text {
  font-family: "Headland One", serif !important;
  color: var(--button-color);
  font-size: 24px;
}
.programs-item {
  padding: 9px;
}
.header-title {
  font-family: "Hammersmith One", sans-serif;
  color: #ffffff;
  margin-top: 50px;
  /* margin-right: 46px; */
}
.header-list {
  display: flex;
}
.programs-list {
  margin-left: 1186px;
  margin-top: -267px;
}
.header-nav {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 20px;
}
.item {
  margin-top: 50px;
}
.header-nav:hover {
  color: var(--header-color);
}
.button-ua {
  margin-top: 48px;
  /* margin-right: 77px; */
}
.header-list {
  margin-right: 46px;
  gap: 12px;
}
.avatar-list {
  display: block;
  flex-wrap: wrap;
  margin-left: 165px;
  gap: 21px;
  padding-top: 183px;
}
.main-section2 {
  height: 351px;
}
.section-text {
  color: var(--title-color);
  font-size: 36px;
  font-family: "Inter", sans-serif;
  margin-top: 84px;
  text-align: center;
}
.main-title {
  color: var(--paragraph-color);
  font-size: 24px;
  font-family: "Inter", sans-serif;
  margin-left: 639px;
}
.main-img {
  margin-left: 510px;
}
.main-div {
  background-image: url(photo/14.png);
  background-repeat: no-repeat;
  width: 1440px;
  height: 741px;
  padding-top: 20px;
}
.main-nav {
  background: var(--button-main-color);
  border-color: var(--button-color);
  padding: 33px 19px 28px 17px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-width: 4px;
  border-style: solid;
  width: 260px;
  display: block;
  margin: 0 auto;
  margin-top: 330px;
}
.section-text2 {
  font-family: "Headland One", serif;
  color: var(--button-color);
  font-size: 24px;
  text-align: center;
}
.section-text3 {
  color: var(--card-color);
  font-size: 36px;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 84px;
}
.main-section4 {
  background-image: url(photo/4.png);
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 56px;
  padding-top: 62px;
}
.section-title {
  color: var(--card-color);
  font-family: "Headland One", serif;
  font-size: 32px;
  text-align: center;
}
.section-item {
  background-color: var(--main-list);
  width: 320px;
  height: 240px;
  padding-top: 18px;
}
.section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  padding-left: 0;
}
.list-wrap {
  width: 1035px;
  margin: 0 auto;
}
.text-dialog {
  color: var(--card-color);
  font-size: 24px;
  font-family: "Headland One", serif;
  text-align: center;
}
.img-dialog {
  width: 152px;
  margin-left: 82px;
}
.text-dialog2 {
  color: var(--paragraph-color);
  font-size: 24px;
  font-family: "Headland One", serif;
  text-align: center;
  
}
.main-title2{
  color: var(--paragraph-color);
  font-size: 24px;
  font-family: "Inter", sans-serif;
  margin-left: 675px;
}
.section-text4{
  color: var(--card-color);
  font-size: 36px;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 50px;
}
.footer-section{
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url(photo/15.png);
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: 223px;
}
.footer-logo{
  margin-left: 204px;
  margin-top: 77px;
  width: 183px;
  height: 70px;
}
.inline{
  height: 153px;
  width: 1px;
  color: var(--menu-color);
}